In [28]:
# Q1
list1 = [1,2,3,4, [44,55,66, True], False, (34,56,78,89,34), {1,2,3,3,2,1}, {1:34, "key2": [55, 67, 78, 89], 4: (45,
22, 61, 34)}, [56, 'data science'], 'Machine Learning']

def test(l):
    l1 = []
    for i in l:
        if type(i) == int :
            l1.append(i)
        elif type(i) == list :
            for j in i:
                if type(j) == int :
                    l1.append(j)
        elif type(i) == tuple :
            i = list(i)
            for n in i:
                if type(n) == int :
                    l1.append(n)
        elif type(i) == set :
            for k in i :
                if type(k) == int :
                    l1.append(k)
               
        elif type(i) == dict :
            for m in i.keys():
                if type(m) == int :
                    l1.append(m)
            for x in i.values():
                if type(x) == int:
                    l1.append(x)
                elif type(x) == list:
                    for y in x :
                        if type(y) == int :
                            l1.append(y)
                elif type(x) == tuple:
                    x = list(x)
                    for z in x :
                        if type(z) == int :
                            l1.append(z)
    print(l1)
    from functools import reduce
    a = reduce(lambda x,y : x*y , l1)
    return a

In [29]:
test(list1)

[1, 2, 3, 4, 44, 55, 66, 34, 56, 78, 89, 34, 1, 2, 3, 1, 4, 34, 55, 67, 78, 89, 45, 22, 61, 34, 56]

4134711838987085478833841242112000

In [47]:
# Q2
s = "I want to become a Data Scientist."
a_to_z = {chr(i+96):chr(123-i) for i in range(1,27)}
obj_alp = a_to_z
m = ""
s = s.lower()
s = s.replace(" ", "$")
for j in s:
    if j in obj_alp :
        m = m + obj_alp[j]
    else :
        m = m + j
        
m

'r$dzmg$gl$yvxlnv$z$wzgz$hxrvmgrhg.'